body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  width: 100%;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* navigation bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* download buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

.fab {
  margin: 3px;
}
/* title-image */
.title-image {
  height: 700px;
  margin-left: 5%;
  width: auto;
  transform: rotate(25deg);
  position: absolute;
  z-index: 0;
}

/* features-section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* .feature-box p{
    padding: 5%;
} */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials-section*/
#testimonials {
  text-align: center;
  background-color: #ef8172;
  width: 100%;
  color: #fff;
}

.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 5% 15%;
  text-align: center;
}
.cta-heading {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
/* Footer section */
#footer {
  padding: 5% 15%;
  text-align: center;
}
.social-icon {
  margin: 20px 15px;
}
/* Footer links */
.footer_links {
  color: black;
  text-decoration: none;
}
.footer_links:hover {
  color: #ff4c68;
  text-decoration: none;
}
#copyright {
  color: black;
}
#copyright:hover {
  color: #ff4c68;
}
